<div class="container-fluid footer mt-5">
    <div class="row">
        <div class="col-1">
                <a href="#">
            <img class="logo" src="assets/img/logo.png" alt="Logo">
            </a>
        </div>
        <div class="col-11">
            <p class="text-center">
                <a href="https://www.linkedin.com/in/candela-zumel-935333223/" target="_blank">
                <img class="iconlin" src="assets/icons/entypo-social_linkedin-with-circle.png" alt="iconlinkedin">
                </a>
            </p>
        </div>
    </div>
</div> 
