<section class="container-fluid">
    <div class="container">
        <div class="row justify-content-around p-4 dos">
            <div class="col-3 element">
            <img clas="manchaa" src="/assets/dibujos/Component6.png" alt="">
            </div>
            <div class="col-3 element">
            <h1 class="text-center">Aptitudes</h1>

            <p class="aptitudes">
                Tengo conocimientos en los siguientes lenguajes de programación: C, Python y Javascript.
                <br>
                También he trabajado con Html y Css, Bootstrap y Nodejs.
                <br>
                Estudié francés 3 años en ECLGSM. Francés básico.
                <br>
                Ingles intermedio aprendido en primaria Escuela Modelo de San Juan, en ECLGSM y de forma particular. 

            </p>
            </div>
            <div class="col-3 element">
            <img clas="manchav" src="/assets/dibujos/Component7.png" alt="">
            </div>
        </div>
    </div>
</section>
