
<header class="header">

    <nav class="nav">
      <a href="#">
        <img class="logo" src="assets/img/logo.png" alt="Logo">
      </a>
        <button class="nav-toggle"><i class="fa-solid fa-bars"></i></button>
      <ul class="nav-menu nav-menu_visible">
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link">Sobre Mi</a></li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link">Estudios</a></li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link">Aptitudes</a></li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link">Contacto</a></li>
      </ul>
    </nav>
    
</header>

  <section class="container-fluid">
    <div class="row justify-content-around p-4">
      <div class="col-6 element1">
        <div class="imagenes">
          <img class="manchaazul" src="assets/dibujos/manchazul.png" alt="manchaazul">
          <img class="manchaverde" src="assets/dibujos/manchaverde.png" alt="manchaverde">
          <img class="fotoperfil" src="assets/img/fotocande.png" alt="FotoCande">
        </div>
      </div>
      <div class="col-6 element2">
        <h1 class="titulo1">Info Personal</h1>
        <p class="info">
          Nombre: Candela Zumel Lopez <br>
          Edad: 20 años <br>
          Estado Civil: Soltera <br>
          Nacionalidad: Argentina <br>
          Fecha de Nacimiento: 17/06/2001</p>
      </div>
    </div>
    <div class="row justify-content-around p-4">
      <h1 class="titulo2">Mis Gustos</h1>
      <div class="col-3 element">
        <div class="card" style="width: 18rem;">
          <img src="assets/icons/fluent_food-pizza-20-filled.png" class="card-img-top" alt="icon">
          <div class="card-body">
            <p class="card-text">Fan de la pizza.</p>
          </div>
        </div>
      </div>
      <div class="col-3 element">
        <div class="card" style="width: 18rem;">
          <img src="assets/icons/fa-solid_cat.png" class="card-img-top" alt="icon">
          <div class="card-body">
            <p class="card-text">Amo a los gatos.</p>
          </div>
        </div>
      </div>
      <div class="col-3 element">
        <div class="card" style="width: 18rem;">
          <img src="assets/icons/dashicons_games.png" class="card-img-top games" alt="icon">
          <div class="card-body">
            <p class="card-text">Cuando tengo tiempo me gusta jugar videojuegos.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>

  </footer>
