
<section class="container-fluid">
    <div class="container">
        <div class="row justify-content-around p-4 dos">
            <div class="col-3 element">
            <img clas="manchaa" src="/assets/dibujos/Component6.png" alt="">
            </div>
            <div class="col-6 element">
                <div class="formulario">
                    
                    <form class="col-lg-8">
                        <h1 class="text-center">Contacto</h1>
                        <p class="text-center">
                            Si tienes alguna duda o sugerencia, puedes contactarme a través de mi formulario de contacto. </p>
                        <div class="row">
                            <div class="col-lg-6 mt-2 mb-2">
                                <input type="text" class="form-control" placeholder="Ingresar Nombre" >
                            </div>
                            <div class="col-lg-6 mt-2 mb-2">
                                <input type="text" class="form-control" placeholder="Ingresar Apellido" >
                            </div>
                            <div class="col-lg-12 mt-2 mb-2">
                                <input type="text" class="form-control" placeholder="Ingresar Email" >
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-md btn-dark">Enviar</button>
                            </div>

                        </div>
                    </form>
                </div>

            
            </div>
            <div class="col-3 element">
            <img clas="manchav" src="/assets/dibujos/Component7.png" alt="">
            </div>
        </div>
    </div>
</section>