<section class="container-fluid">
    <div class="container">
        <div class="row justify-content-around p-4 dos">
            <div class="row-3 element vectoruno">
                <!-- <div class="bg_color"></div> -->
                <img clas="vector1" src="/assets/dibujos/vector1.png" alt="">
                <!-- <div class="wave w1"></div>
                <div class="wave w2"></div> -->
                
            
            </div>
            <h1 class="text-center">Mis Estudios</h1>
            <div class="row-3 element">
                <div class="col-5 element">    
            

                <p class="aptitudes">
                    Año 2012 a 2018 estudié en la Escuela de Comercio Libertador General San Martín. 
                    <br>
                    Tengo el título de Bachiller en Ciencias Sociales y Humanidades.
                    <br>
                    Año 2021 Certificado de UI Developer hecho en Folcademy.
                    <br>
                    Año 2022 Curso de Frontend en Folcademy.
                    <br>
                    Año 2022 Certificado de Backend Developer en Folcademy.
                    <br>
                    Año 2019-Presente Estudiante de Lic. en Ciencias de la Computación.
                    <br>
                    Año 2021-Presente Estudiante de Tecnicatura Universitaria en Programación Web.
                </p>
                </div>
                    
            </div>
            <div class="row-3 element vectordos">
            <img clas="vector2" src="/assets/dibujos/vector2.png" alt="">
            </div>
        </div>
    </div>
</section>
